@import 'kylas_engine/bootstrap-5.0.2.min';
@import 'kylas_engine/dashboard';
@import 'kylas_engine/authentication';
@import 'kylas_engine/pre-login';
@import 'kylas_engine/header';
@import 'kylas_engine/mailer';
@import 'kylas_engine/navbar';
@import 'kylas_engine/user-profile-menu';

body {
  font-family: 'Rubik', sans-serif;
}

.btn-close {
  cursor: pointer;
}

.form-control:focus {
  color: #2e384d;
  background-color: #fff;
  border-color: #0176FF;
  outline: 0;
  box-shadow: none;
}

.form-control--password {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.toggle-password {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.password-box {
  flex: auto;
  width: min-content;
}

.logo {
  width: 7rem;
  margin-bottom: 1rem;
}

.support-links {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}